.main {
    padding-bottom: 350px;
    &.row {}
    &__container {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        padding-top: 380px;
        padding-left: 105px;
        padding-right: 25px;
    }
    &__photo-and-sub {
        float: left;
    }
    &__photo-wrpr {
        position: relative;
    }
    &__photo {
        position: relative;
        z-index: 5;
    }
    &__shadow, &__plants-1, &__plants-2{
        position: absolute;
        z-index: 1;
    }
    &__shadow {
        width: 167%;
        height: auto;
        left: -7%;
        bottom: -8%;
    }
    &__plants-1 {
        width: 38%;
        height: auto;
        top: 0;
        left: 6%;
        transform: translateY(-86%);
    }
    &__plants-2 {
        width: 23.7%;
        height: auto;
        right: 0;
        transform: translateX(99%);
        bottom: 12%;
    }

    &__sub {
        font-size: 1.25em;
        padding-left: 6%;
        margin-top: 4%;
        line-height: 1.1em;
    }
    &-desc {
        margin-top: -10px;
    }
    &-desc__title {
        font-size: 3.125em;
        font-weight: 800;
        line-height: 1.05em;
    }
    &-desc__subtitle {
        font-size: 1.25em;
        margin-top: 0.5em;
        line-height: 1.05em;
    }
}