.advantages {
    margin-top: 95px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column; 
    @media (max-width: 980px) {
        margin-top: 40px;
    }
    &__item {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin-top: 70px;
        &:first-child{ margin-top: 0; }
        @media (max-width: 980px){
            margin-top: 30px;
        }
    }
    &__icon-wrpr {
        width: 115px;
        margin-right: 55px;
        &_drop{
            padding-right: 10px;
        }
        @media (max-width: 980px){
            width: 70px;
            margin-right: 20px;
        }
    }
    &__icon {
        width: 100%;
        height: auto;
    }
    &__text {
        font-size: 1.875em;
        font-weight: 800;
        line-height: 1.2em;
    }
}