.header {
    height: 125px;
    background-color: $c-yellow;
    
    a{
        color: inherit;
        text-decoration: none;
    }
    
    &__container {
        padding-left: 160px;
        height: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }
    &__logo {
        font-weight: 800;
        font-size: 3.12em;
        text-transform: uppercase;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
//        letter-spacing: 0.005em;
        &:hover{
        }
    }
}