+b.HEADER.header.row
    +e.container.container
        +e.A(href="/").logo Регидрон био
        
        include _nav.pug
    .hamburger-wrpr
            button(type="button").hamburger.hamburger--spring.js-hamburger
                span.hamburger-box
                    span.hamburger-inner
