//.hamburger.hamburger--stand.js-hamburger
    .hamburger-box
    .hamburger-inner

+b.HEADER.header.row
    +e.container.container
        +e.A(href="/").logo Регидрон био
        
        include _nav.pug
