+b.NAV.navigation
    +e.UL.list
        +e.LI.list-item_active
            +e.A(href="#").link Причины
        
        +e.LI.list-item
            +e.A(href="#").link Помощь
        
        +e.LI.list-item
            +e.A(href="#").link Применение
        
        +e.LI.list-item
            +e.A(href="#").link Преимущества
        
        +e.LI.list-item
            +e.A(href="#").link Дополнительно
